// tokens/_spacing.scss
// Escala basada en múltiplos de 4px.

:root {
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs:  8px;
  --spacing-sm:  12px;
  --spacing-md:  16px;
  --spacing-lg:  24px;
  --spacing-xl:  32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
}
